RewriteEngine on
AddDefaultCharset utf8
Options -Indexes

<filesMatch ".(css|jpg|jpeg|png|gif|js|ico|svg)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>

#Almappába irányítás
#RewriteCond %{HTTPS} off
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} ^bkszc.ideasandbox.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.bkszc.ideasandbox.eu$
RewriteCond %{REQUEST_URI} !site/
RewriteRule (.*) /site/$1 [L] 
